[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="symfony-test"
    database_user="schreiber"
    database_password="symfony"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="106a4cab398ed81e0f4f2777feef87a9b"
